@model IEnumerable<ShoPTN.Models.SanPham>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-3">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            @item.TenSanPham;
            @item.GiaBan
            // chuyển về html dạng thô
            @Html.Raw(item.MoTa);
        }
    }
    else
    {

    }
</div>


