@model ShoPTN.Models.NhanVien

@{
    ViewData["Title"] = "Thông tin tài khoàn";
}
<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="col-md-12">
            <form asp-action="Profiles" asp-controller="Home" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdStaff" />
                <div class="form-group">
                    <label asp-for="HoVaTen" class="control-label"></label>
                    <input asp-for="HoVaTen" class="form-control" />
                    <span asp-validation-for="HoVaTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DienThoai" class="control-label"></label>
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenDangNhap" class="control-label"></label>
                    <input asp-for="TenDangNhap" class="form-control" />
                    <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label"></label>
                    <input asp-for="MatKhau" class="form-control" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avartar" class="control-label"></label>
                    <input asp-for="Avartar" class="form-control" type="hidden" />
                    <input asp-for="Quyen" class="form-control" type="hidden" />
                    <br />
                    <input asp-for="Avartar" type="file" name="file" accept=".jpg,.jpeg,.png" />
                    <br />
                    <span asp-validation-for="Avartar" class="text-danger"></span>
                    <br />
                    <img src="~/Images/Staff/@Model.Avartar" width="100" />
                </div>
                <div class="form-group">
                    <!--index của home-->
                    <input type="submit" value="Lưu thông tin" class="btn btn-primary" /> || <a asp-action="Index" class="btn btn-primary">Trang chủ</a>
                </div>
            </form>
        </div>
    </div>
</div>
<span class="text-danger">Giữ nguyên thông tin nếu bạn không muốn thay đổi</span>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
