@model ShoPTN.Models.DanhMucSanPham

@{
    ViewData["Title"] = "Sửa danh mục";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="IdDanhMuc" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TenDanhMuc" class="control-label"></label>
                        <input asp-for="TenDanhMuc" class="form-control" />
                        <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TinhTrang" class="control-label"></label>
                        <select asp-for="TinhTrang" class="form-control">
                            <option value="1">Ẩn</option>
                            <option value="2">Hiện</option>
                        </select>
                        <span asp-validation-for="TinhTrang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" /> Hoặc <a asp-action="Index" class="btn btn-primary">Trở về danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
