@model ShoPTN.Models.TinhTrang

@{
    ViewData["Title"] = "Xóa " + Model.TenTt;
}

<div class="card border border-danger">
    <h5 class="card-header bg-danger text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Bạn có muốn xóa tình trạng <strong>@Model.TenTt</strong> không?
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-actions no-color">
            <form asp-action="Delete">
                <input type="hidden" asp-for=" MaTt" />
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                hoặc <a asp-action="Index">Trở về danh sách</a>
            </form>
        </div>
    </div>
</div>
