@model ShoPTN.Models.DatHangChiTiet

@{
    ViewData["Title"] = "Sửa đặt hàng chi tiết";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="DatHangId" class="control-label"></label>
                        <select asp-for="DatHangId" class="form-control" asp-items="ViewBag.DatHangId"></select>
                        <span asp-validation-for="DatHangId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LapTopId" class="control-label"></label>
                        <select asp-for="LapTopId" class="form-control" asp-items="ViewBag.LapTopId"></select>
                        <span asp-validation-for="LapTopId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoLuong" class="control-label"></label>
                        <input asp-for="SoLuong" class="form-control" />
                        <span asp-validation-for="SoLuong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DonGia" class="control-label"></label>
                        <input asp-for="DonGia" class="form-control" />
                        <span asp-validation-for="DonGia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThanhTien" class="control-label"></label>
                        <input asp-for="ThanhTien" class="form-control" />
                        <span asp-validation-for="ThanhTien" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" /> || <a asp-action="Index" class="btn btn-primary">Trở về danh sách</a>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
